@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mx-auto bg-white text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .channel-bar {
    @apply w-56 min-w-max bg-gray-100 dark:bg-gray-800 overflow-hidden h-full;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start p-2 m-0;
  }

  .dropdown {
    @apply m-0 w-full px-2 transition duration-300 ease-in-out select-none;
  }

  .dropdown-header {
    @apply flex text-xs mb-0.5 items-center justify-evenly mx-0 text-gray-500 cursor-pointer;
  }

  .dropdown-label {
    @apply font-semibold;
  }

  .friend-header {
    @apply text-xs text-gray-500 font-semibold mb-2;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-full my-1;
}

* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
